body{
    background-color: #000000;
}


.topbar span{
    font-size: 12px;
    padding: 1px 5px;

}


.navbar{
    background-color: rgb(228, 135, 15)!important;
}
.navbar .navbar-brand img{
    height: 3rem;
    width: auto;
}

.navbar .navbar-toogler{
    border: none;
    outline: none;
    font-size: 1.8rem;
}
.navbar .navbar-collapse .navbar-nav li{
    font-family: 'Raleway , sans-serf';
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 1rem;
    color:black ;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0,0.1);
}
.home-page-content{
    padding-top: 12%;
}

.home-page-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 5rem;
    color: rgb(228, 135, 15)!important;
    text-shadow: 2px 1px #333333;
   
}
.home-supporting-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    color: rgb(228, 135, 15)!important;
    text-shadow: 2px 1px #333333;
}


















/* old image photo gallery*/
/* .imagesgall{
    position: relative;
    min-height: 100vh;
    background:rgb(3, 3, 3);
}

.imagesgall h1{
    font-size: 40px;
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    padding: 15px;
    color: rgb(228, 135, 15)!important;
    text-align: center;
    text-transform: uppercase;
}

.imagesgall .image-container{
     display: flex;
     flex-wrap: wrap;
     gap: 15px;
     justify-content: center;
     padding: 10px;
}

.imagesgall .image-container .image{
    height: 250px;
    width: 350px;
    border-radius: 10px;
    /* border: 10px solid white; */
/*     box-shadow: 0 5px 15px rgba(0, 0, 0,.1);
    overflow: hidden;
    cursor: pointer;
    background-color:   rgb(228, 135, 15)!important;

} */

/* .image .heading{
    position: absolute;
    text-align: center;
    opacity: 0.7;
    border-radius: inherit;
    margin-left: 120px;
    margin-top: 4px;
    background-color: #fff;
    padding: 5px;
    width: auto;
} */
/* .image .heading2{
    position: absolute;
    text-align: center;
    opacity: 0.7;
    border-radius: inherit;
    margin-left: 67px;
    margin-top: 4px;
    background-color: #fff;
    padding: 5px;
    width: auto;
} */
/* .imagesgall .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
} */

/* .imagesgall .image-container .image:hover img{
    transform: scale(1.1);
} */
/* old image photo gallery end*/


.imagesgall .popup-image{
    position: fixed;
    top: 80px; left: 0;
    background: rgba(0, 0, 0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;


}

.imagesgall .popup-image span{

    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: normal;
    color: rgb(230, 149, 0);
   cursor: pointer;
   z-index: 100;
}
.imagesgall .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 10px;
    width: 750px;
    object-fit: cover;

}

@media (max-width:900px) {
    
    
     .imagesgall .popup-image{
        position: fixed;
        top: 14px!important; left: 0;
        background: rgba(0, 0, 0,.9);
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;
    }
    
    .imagesgall .popup-image img{
       width: 67%!important;
        
    }
    #carouselExampleControls{
        padding-top:1px!important;
    }
    .openinghour{
        margin-left: 79px;
    }
    .aboutimg{
          width: 100px;
    }
    .navbar{
        margin-top: 50px;

    }
    .imgfss{
        margin-left: 128px;
    }
/*     .image .heading {
        position: absolute;
        text-align: center;
        opacity: 0.7;
        border-radius: inherit;
        margin-left: 87px;
        margin-top: 4px;
        background-color: #fff;
        padding: 5px;
        width: auto;
    } */
/*     .image .heading2 {
        position: absolute;
        text-align: center;
        opacity: 0.7;
        border-radius: inherit;
        margin-left: 87px;
        margin-top: 4px;
        background-color: #fff;
        padding: 5px;
        width: auto;
    } */
    
     /* photo gallery new */
    .image12345 .heading2 {
        border-radius: 19px!important;
        margin: 110px!important;
        position: absolute;
        text-align: center;
        opacity: 0.7;
        border-radius: inherit;
        margin-left: 87px;
        margin-top: 107px;
        background-color:#db9b0f;
        padding: 5px;
        width: auto;
    }
     /* photo gallery new */
    
}

.contactus{
    color: rgb(230, 149, 0)!important;
}

.aboutus{
    color: rgb(230, 149, 0)!important;
}
.para:hover{
    color: rgb(230, 149, 0)!important;
}

.parahour{
    color: #fff;
}
.parahour:hover{
    color: rgb(230, 149, 0)!important;
}



#btnScrollTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(230, 149, 0)!important;
    box-shadow: 0 0 10px rgb(230, 149, 0)!important;
    color: white;
    cursor: pointer;
    border: none;
}
#btnScrollTop:active{
    background:  rgb(230, 149, 0)!important;;
}



/* photo gallary css */

.imagecontainer h1{
    font-size: 40px;
    font-family:'Raleway', sans-serif;
    font-weight: 800;
    padding: 15px;
    color: rgb(228, 135, 15)!important;
    text-align: center;
    text-transform: uppercase;
}
.image12345 {
    /* border: 2px solid #fff; */
    width: 100%;
    overflow: hidden;
  }
  
  .image12345 img {
    border-radius: 17px!important;
    width: 100%;
    height: 300;
    transition: .2s linear;
  }
  
  .image12345:hover  img {
    border-radius: 12px;
    transform: scale(1.1);
      cursor: pointer;
  }

  .image12345 .heading2 {
    border-radius: 19px!important;
    position: absolute;
    text-align: center;
    opacity: 0.7;
    border-radius: inherit;
    margin-left: 87px;
    margin-top: 107px;
    background-color:#e4870f;
    padding: 5px;
    width: auto;
}
.image12345 .heading2 h4{
    color: rgb(0, 0, 0)!important;
    font-weight: 900;
}




.imagesgall .popup-image{
    position: fixed;
    top: 80px; left: 0;
    background: rgba(0, 0, 0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;


}

.imagesgall .popup-image span{

    position: absolute;
    top: 0; right: 10px;
    font-size: 40px;
    font-weight: normal;
    color: rgb(230, 149, 0);
   cursor: pointer;
   z-index: 100;
}
.imagesgall .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 10px;
    width: 750px;
    object-fit: cover;

}

/* photo gallary css end */ 
